.match{
    display:grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
}
.ballon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}