.match{
    display:grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
    width:300px
}
.match > span {
    display: inline-flex;
    justify-content: center;
}
.match >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.match-btn {
    height: 30px;
}