.tournoi-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (max-width: 980px) {
    .tournoi-container {
        flex-direction: row;
        flex-wrap: wrap;
        .tournoi-column {
            width: 50%;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 480px) {
    .tournoi-container {
        flex-direction: column;
        .tournoi-column {
            width: 100%;
            margin: 0 auto;
        }
    }
}
