.team-tournoi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .team-infos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        img {
            width: 30px;
            height: 30px;
            border-radius: 80px;
            object-fit: cover;
            border: 1px solid grey;
        }
        h3 {
            font-size: 1rem !important;
        }
        .team-name{
            margin: 0;
        }
    }
        .team-points {
            font-size: 1rem;
            font-weight: bold;
        }
}
