nav.navbar {
    background-color: #143CDA !important;
}
.nav-link {
    padding: 10px 20px !important;
    color: white !important;
    font-size: 1.1rem !important;
    border-radius: 25px;
    &.active {
        border: 1px solid white!important;
        background-color: #f9bf4b;
        color: black !important;
        font-weight: bold;
    }
}
.navbar-brand img {
    width: 100px;
}
