
.navigation.my-border-bottom {
    border-bottom: 1px solid $bgcolor-block;
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 1024px;
    }
    body h1 {
        font-size: 2.5rem;
    }
    body h2 {
        font-size: 1.7rem;
    }
    body h3 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 768px) {
    .my-border-bottom {
        border-bottom: 1px solid $color-border;
    }
    .block-section .parcours-item {
        display: flex !important;
        flex-direction: column;
    }
    .container {
        max-width: 720px;
        margin: 0 auto;
        padding-bottom: 0 !important;
    }
    .btn-container {
        justify-content: center !important;
    }
    .section-home,
    .section-hero,
    .section-wip {
        padding-bottom: 2rem;
    }
    body h1 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 690px;
    }
    body h1 {
        font-size: 2rem;
    }
    body p,
    div {
        font-size: 1rem;
    }
}
