$font: (
    "font-1": "Kalnia",
    "font-2": "Raleway",
);

$color-title: #585975;
$color-text: #585975;
$color-shadow: #d8d8d8;
$color-border: #ebe3db; //f5f1ec;
$color-cyan: #585975; // #15676d;
$color-cyan-light: #757699;
$bgcolor-body: #faf6f2; //#fdf0e7;
$bgcolor-block: #ebe3db; // #fcfbfa;
