.wrapper-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    .wrapper-container {
        box-shadow: 5px 5px 5px grey;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        gap: 20px;
        padding: 20px;
        .wrapper-teams {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .wrapper-team {
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .wrapper-infos {
        .wrapper-container{
            width: 45%;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 480px) {
    .wrapper-infos {
        .wrapper-container{
            width: 100%;
            margin: 0 auto;
        }
    }
}