.recap-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.recap-head {
    display: flex;
    align-items: center;
    h2 {
        font-size: 1.6rem;
        margin: 0;
    }
}
.score {
    text-align: center;
}
.recap-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 30px;
    border-bottom: 1px dotted grey;
}
.recap-rows {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.recap-teams {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
